<input type="text" placeholder="Search by name..."  [(ngModel)]="nameFilter" >

<input type="text" placeholder="Search by number..." [(ngModel)]="idFilter">

<select [(ngModel)]="typeFilter" >
  <option value="">Select a type</option>
  <option *ngFor="let type of types" value="{{ type }}">{{ type }}</option>
</select>

<div class="pokemons">
  <div *ngFor="let pokemon of pokemons | nameFilterPipe: nameFilter | idFilterPipe: idFilter | typeFilterPipe: typeFilter" >
    <span>{{ pokemon.name }}</span>
    <span>{{ pokemon.id }}</span>
    <img src="{{ pokemon.img }}" alt="">
    <span *ngFor="let type of pokemon.type">{{ type }}</span>
  </div>
</div>


