input, select {
  border: 2px solid #111;
  padding: .5rem;
  border-radius: 10px;

  &:focus {
    outline: none;
  }
}

input {
  margin-right: 1rem;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5rem;
  margin-top: 1rem;
}

.pokemon {
  border: 1px solid #111;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.image {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 150px;
    max-height: 150px;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .type {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

img {
 max-width: 200px;
}
